<div class="footer">
    <div class="container">
        <div class="about-us" data-aos="fade-right" data-aos-delay="200">
            <h2>About us</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis itaque amet quo cupiditate doloremque
                qui,
                a similique, dolores ipsa ex aliquid earum voluptas provident odio. Possimus eveniet accusantium
                sint harum.
            </p>
        </div>
        <div class="newsletter" data-aos="fade-right" data-aos-delay="200">
            <h2>Newsletter</h2>
            <p>Stay update with our latest</p>
            <div class="form-element">
                <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
            </div>
        </div>
        <div class="instagram" data-aos="fade-left" data-aos-delay="200">
            <h2>Instagram</h2>
            <div class="flex-row">
                <img src="assets/image/instagram/img1.jpg" alt="IG1">
                <img src="assets/image/instagram/img2.jpg" alt="IG2">
                <img src="assets/image/instagram/img3.png" alt="IG3">
            </div>
            <div class="flex-row">
                <img src="assets/image/instagram/img4.jpg" alt="IG4">
                <img src="assets/image/instagram/img5.jpg" alt="IG5">
                <img src="assets/image/instagram/img6.jpg" alt="IG6">
            </div>
        </div>
        <div class="follow" data-aos="fade-left" data-aos-delay="200">
            <h2>Follow us</h2>
            <p>Let us be Social</p>
            <div>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>
    <div class="rights flex-row">
        <h4 class="text-gray">
            Độc quyền tại
            <a href="https://huflit.edu.vn/" target="_black">TS-Store<i class="fab fa-facebook"></i></a>
        </h4>
    </div>
    <div class="move-up">
        <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
    </div>
</div>