<main>
    <div class="contact-image">
        <section class="container">
            <h1>Check out</h1>
            <div class="site-contact">

                <div class="posts">
                    <form enctype="multipart/form-data">
                        <div class="contact">

                            <p>Name <span>(*)</span> :</p>
                            <input type="text" class="input" asp-for="Ten" placeholder="Your Name" required>

                            <p>Email <span>(*)</span> :</p>
                            <input type="email" class="input" asp-for="Email" placeholder="Your Email" required>

                            <p>Phone <span>(*)</span> :</p>
                            <input type="number" class="input" asp-for="SDT" placeholder="Your Number" required>

                            <p>Feedback <span>(*)</span> :</p>
                            <textarea name="" cols="30" rows="10" asp-for="Feedback" required></textarea>
                            <br>
                            <button class="btn check" onclick="alert('Send Success')">Sent</button>

                        </div>
                    </form>
                </div>
                <div class="contact-map">
                    <div class="col-2">
                        <img src="{{pd.productImage}}" width="100%" alt="{{pd.productName}}">
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<app-footer></app-footer>