<table>
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Product Quantity</th>
            <th>Product Image</th>
            <th>Product Price</th>
            <th>Create Date</th>
            <th>Description</th>
            <th>Category Id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let sp of service.list">
            <td (click)="populateForm(sp)">{{ sp.productId }}</td>
            <td (click)="populateForm(sp)">{{ sp.productName }}</td>
            <td (click)="populateForm(sp)">{{ sp.productQuantity }}</td>
            <td (click)="populateForm(sp)">
                <img [src]="sp.productImage" alt="{{ sp.productName }}" style="max-height: 75px;">
            </td>
            <td (click)="populateForm(sp)">{{ sp.productPrice }}</td>
            <td (click)="populateForm(sp)">{{ sp.createDate }}</td>
            <td (click)="populateForm(sp)">{{ sp.descriptions }}</td>
            <td (click)="populateForm(sp)">{{ sp.categoryId }}</td>
            <td>
                <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(sp.productId)"></i>
            </td>
        </tr>
    </tbody>
</table>